{% extends 'base.html' %}

{% block titel%}To Do List{% endblock %}
{% block link_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page_main.css' %}">
{% endblock %}
{% block content %}
<div class="add_sheet_form">
    <h2>Edit:</h2>
    <form action="{% url 'Todo_List:sheet_edit' sheet.id %}" method="POST">
        {% csrf_token %}
        <input name="name_" type="text" value="{{ sheet.sheet_title }}" placeholder="Sheet Title..." ><br>
        <input name="hex_color" type="text" value="{{ sheet.color }}" placeholder="Set hex color, like this - #FFFFFF" ><br>
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}


